@import url("https://fonts.googleapis.com/css?family=Barrio");
@import url("https://fonts.googleapis.com/css?family=Changa+One");
@import url("https://fonts.googleapis.com/css?family=Lilita+One");
html {
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f5f5f5;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  text-align: center;
}

#app {
  line-height: 50vh;
}

.highscore {
  background-color: #efdf8f;
  border-radius: 4.875vw;
  display: inline-block;
  font-family: 'Lilita One';
  line-height: 17.5vw;
  padding: 0 4.375vw;
}

.highscore .choice {
  font-size: 8.75vw;
  margin-right: 1.25vw;
  text-transform: uppercase;
  vertical-align: middle;
}

.digit-container {
  background-color: black;
  border-radius: 1.875vw;
  color: white;
  display: inline-block;
  font-family: 'Lilita One';
  font-size: 8.75vw;
  height: 8.75vw;
  margin-left: 0.625vw;
  overflow: hidden;
  width: 8.75vw;
  vertical-align: middle;
}

.digits {
  display: inline-block;
  line-height: 1;
  transition: transform 0.5s;
}

.d0 {
  transform: translateY(0vw);
}

.d1 {
  transform: translateY(-8.75vw);
}

.d2 {
  transform: translateY(-17.5vw);
}

.d3 {
  transform: translateY(-26.25vw);
}

.d4 {
  transform: translateY(-35vw);
}

.d5 {
  transform: translateY(-43.75vw);
}

.d6 {
  transform: translateY(-52.5vw);
}

.d7 {
  transform: translateY(-61.25vw);
}

.d8 {
  transform: translateY(-70vw);
}

.d9 {
  transform: translateY(-78.75vw);
}

.digit {
  display: block;
  height: 8.75vw;
}

.upvote-container {
  display: inline-block;
  height: 17.5vw;
  margin-left: 1.25vw;
  position: relative;
  width: 17.5vw;
  vertical-align: middle;
}

.upvote {
  transition: transform 0.25s;
}

.upvote, .upvote:link, .upvote:visited {
  background-color: #efdf8f;
  border-radius: 4.875vw;
  color: black;
  display: block;
  font-family: 'Lilita One';
  font-size: 13.125vw;
  line-height: 17.5vw;
  width: 17.5vw;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

@keyframes shrink {
  100% {
    transform: scale(0.75);
  }
}
@keyframes grow {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wiggle {
  25% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-0.625vw);
  }
  100% {
    transform: translate(0);
  }
}
.upvote {
  animation: grow 0.5s forwards;
}

.upvote-container:active .upvote {
  animation: shrink 0.25s forwards;
}

.upvote i {
  transition: transform 0.25s;
}

.upvote:hover i {
  transform: scale(1.1);
}
